.itemDetails{
  display: flex;
  padding: 70px;
  justify-content: space-between;
  align-items: center;
  max-height: 88vh;
}
.itemDetails img{
  width: 25%;
}
.content{
  width: 70%;
  text-align: justify;
}
.price{
  font-size: 30px;
  font-weight: 600;
  color: rgb(47, 47, 47);
  margin: 20px 0;
}